# ==============================
# Core Framework
# ==============================
fastapi==0.110.0
uvicorn==0.27.1

# ==============================
# Configuration & Validation
# ==============================
pydantic==2.6.4
python-dotenv==1.0.1

# ==============================
# Database (SQL Server)
# ==============================
sqlalchemy==2.0.27
pyodbc==5.0.1

# ==============================
# Logging & Utilities
# ==============================
typing-extensions==4.9.0

# ==============================
# Optional (Development only)
# ==============================
watchfiles==0.21.0



# برای نصب از ریپوهای داخلی از دستور زیر استفاده کنید
# pip install -r requirements.txt -i https://pypi.ir/simple


# برای نصب آفلاین از این دستور استفاده می شود
# pip download -r requirements.txt
# pip install --no-index --find-links=./packages -r requirements.txt
